// These are all 1px smaller than the screen width that designs target. So 424px targets the 425px design

// everything smaller than $mobile-large is targeted at small mobile screens (320px)
$mobile-large: 424px;
$tablet: 733px;
$desktop-small: 1023px;
$desktop: 1239px;
